div.container {
    display: table;
    margin: 0 auto;
    padding-top: 350px;
    user-select: none;
}

h1.sambutan {
    color: black;
    font-size: 70px;
    font-weight: bold;
    margin-left: 12cm;
    margin-bottom: 0cm;
    margin-top: -3cm;
}